@charset "UTF-8";
@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Regular.woff) format("woff");
  font-weight: normal;
  font-display: swap; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Bold.woff) format("woff");
  font-weight: bold;
  font-display: swap; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Medium.woff) format("woff");
  font-weight: 500;
  font-display: swap; }

@media (max-width: 767px) {
  .swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    /* Fix of Webkit flickering */
    z-index: 1; }
  .swiper-container-vertical > .swiper-wrapper {
    flex-direction: column; }
  .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box; }
  .swiper-container-android .swiper-slide, .swiper-wrapper {
    transform: translate3d(0px, 0, 0); }
  .swiper-container-multirow > .swiper-wrapper {
    flex-wrap: wrap; }
  .swiper-container-multirow-column > .swiper-wrapper {
    flex-wrap: wrap;
    flex-direction: column; }
  .swiper-container-free-mode > .swiper-wrapper {
    transition-timing-function: ease-out;
    margin: 0 auto; }
  .swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform; }
  .swiper-slide-invisible-blank {
    visibility: hidden; }
  /* Auto Height */
  .swiper-container-autoheight {
    height: auto; }
    .swiper-container-autoheight .swiper-slide {
      height: auto; }
    .swiper-container-autoheight .swiper-wrapper {
      align-items: flex-start;
      transition-property: transform, height; }
  /* 3D Effects */
  .swiper-container-3d {
    perspective: 1200px; }
    .swiper-container-3d .swiper-wrapper, .swiper-container-3d .swiper-slide, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top, .swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-cube-shadow {
      transform-style: preserve-3d; }
    .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top, .swiper-container-3d .swiper-slide-shadow-bottom {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      z-index: 10; }
    .swiper-container-3d .swiper-slide-shadow-left {
      background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }
    .swiper-container-3d .swiper-slide-shadow-right {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }
    .swiper-container-3d .swiper-slide-shadow-top {
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }
    .swiper-container-3d .swiper-slide-shadow-bottom {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }
  /* CSS Mode */
  .swiper-container-css-mode > .swiper-wrapper {
    overflow: auto;
    scrollbar-width: none;
    /* For Firefox */
    -ms-overflow-style: none;
    /* For Internet Explorer and Edge */ }
    .swiper-container-css-mode > .swiper-wrapper::-webkit-scrollbar {
      display: none; }
    .swiper-container-css-mode > .swiper-wrapper > .swiper-slide {
      scroll-snap-align: start start; }
  .swiper-container-horizontal.swiper-container-css-mode > .swiper-wrapper {
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory; }
  .swiper-container-vertical.swiper-container-css-mode > .swiper-wrapper {
    -ms-scroll-snap-type: y mandatory;
        scroll-snap-type: y mandatory; }
  :root {
    --swiper-navigation-size:44px;
    /*
      --swiper-navigation-color: var(--swiper-theme-color);
      */ }
  .swiper-button-prev, .swiper-button-next {
    position: absolute;
    top: 50%;
    width: calc(var(--swiper-navigation-size) / 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color, var(--swiper-theme-color)); }
  .swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none; }
  .swiper-button-prev:after, .swiper-button-next:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none !important;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: 1; }
  .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    left: 10px;
    right: auto; }
  .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
    content: 'prev'; }
  .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    right: 10px;
    left: auto; }
  .swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
    content: 'next'; }
  .swiper-button-prev.swiper-button-white, .swiper-button-next.swiper-button-white {
    --swiper-navigation-color:#ffffff; }
  .swiper-button-prev.swiper-button-black, .swiper-button-next.swiper-button-black {
    --swiper-navigation-color:#000000; }
  .swiper-button-lock {
    display: none; }
  :root {
    /*
      --swiper-pagination-color: var(--swiper-theme-color);
      */ }
  .swiper-pagination {
    position: absolute;
    text-align: center;
    transition: 300ms opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10; }
    .swiper-pagination.swiper-pagination-hidden {
      opacity: 0; }
  /* Common Styles */
  .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 10px;
    left: 0;
    width: 100%; }
  /* Bullets */
  .swiper-pagination-bullets-dynamic {
    overflow: hidden;
    font-size: 0; }
    .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
      transform: scale(0.33);
      position: relative; } }
    @media (max-width: 767px) and (max-width: 767px) {
      .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background-color: #DDDDDD;
        opacity: 1; } }
    @media (max-width: 767px) and (max-width: 767px) {
      .swiper-pagination-bullets-dynamic .swiper-pagination-bullet:hover, .swiper-pagination-bullets-dynamic .swiper-pagination-bullet:active, .swiper-pagination-bullets-dynamic .swiper-pagination-bullet:focus {
        background-color: #B5B6BC; } }

@media (max-width: 767px) {
    .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active, .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
      transform: scale(1); }
    .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
      transform: scale(0.66); }
    .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
      transform: scale(0.33); }
    .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
      transform: scale(0.66); }
    .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
      transform: scale(0.33); }
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: 0.2; }
  button.swiper-pagination-bullet {
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  .swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer; }
  .swiper-pagination-bullet-active {
    opacity: 1;
    background: var(--swiper-pagination-color, var(--swiper-theme-color)); }
  .swiper-container-vertical > .swiper-pagination-bullets {
    right: 10px;
    top: 50%;
    transform: translate3d(0px, -50%, 0); }
    .swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 6px 0;
      display: block; }
    .swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
      top: 50%;
      transform: translateY(-50%);
      width: 8px; }
      .swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
        display: inline-block;
        transition: 200ms transform, 200ms top; }
  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 10px 4px; }
  .swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap; }
    .swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
      transition: 200ms transform, 200ms left; }
  .swiper-container-horizontal.swiper-container-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transition: 200ms transform, 200ms right; }
  /* Progress */
  .swiper-pagination-progressbar {
    background: rgba(0, 0, 0, 0.25);
    position: absolute; }
    .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
      background: var(--swiper-pagination-color, var(--swiper-theme-color));
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: scale(0);
      transform-origin: left top; }
  .swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    transform-origin: right top; }
  .swiper-container-horizontal > .swiper-pagination-progressbar {
    width: 100%;
    height: 4px;
    left: 0;
    top: 0; }
  .swiper-container-vertical > .swiper-pagination-progressbar {
    width: 4px;
    height: 100%;
    left: 0;
    top: 0; }
    .swiper-container-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
      width: 100%;
      height: 4px;
      left: 0;
      top: 0; }
  .swiper-container-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: 4px;
    height: 100%;
    left: 0;
    top: 0; }
  .swiper-pagination-white {
    --swiper-pagination-color:#ffffff; }
  .swiper-pagination-black {
    --swiper-pagination-color:#000000; }
  .swiper-pagination-lock {
    display: none; }
  /* Scrollbar */
  .swiper-scrollbar {
    border-radius: 10px;
    position: relative;
    -ms-touch-action: none;
    background: rgba(0, 0, 0, 0.1); }
  .swiper-container-horizontal > .swiper-scrollbar {
    position: absolute;
    left: 1%;
    bottom: 3px;
    z-index: 50;
    height: 5px;
    width: 98%; }
  .swiper-container-vertical > .swiper-scrollbar {
    position: absolute;
    right: 3px;
    top: 1%;
    z-index: 50;
    width: 5px;
    height: 98%; }
  .swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    left: 0;
    top: 0; }
  .swiper-scrollbar-cursor-drag {
    cursor: move; }
  .swiper-scrollbar-lock {
    display: none; }
  .swiper-zoom-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .swiper-zoom-container > img, .swiper-zoom-container > svg, .swiper-zoom-container > canvas {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain; }
  .swiper-slide-zoomed {
    cursor: move; }
  /* Preloader */
  :root {
    /*
      --swiper-preloader-color: var(--swiper-theme-color);
      */ }
  .swiper-lazy-preloader {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -21px;
    margin-top: -21px;
    z-index: 10;
    transform-origin: 50%;
    -webkit-animation: swiper-preloader-spin 1s infinite linear;
            animation: swiper-preloader-spin 1s infinite linear;
    box-sizing: border-box;
    border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
    border-radius: 50%;
    border-top-color: transparent; }
  .swiper-lazy-preloader-white {
    --swiper-preloader-color:#fff; }
  .swiper-lazy-preloader-black {
    --swiper-preloader-color:#000; }
  @-webkit-keyframes swiper-preloader-spin {
    100% {
      transform: rotate(360deg); } }
  @keyframes swiper-preloader-spin {
    100% {
      transform: rotate(360deg); } }
  /* a11y */
  .swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000; }
  .swiper-container-fade.swiper-container-free-mode .swiper-slide {
    transition-timing-function: ease-out; }
  .swiper-container-fade .swiper-slide {
    pointer-events: none;
    transition-property: opacity; }
    .swiper-container-fade .swiper-slide .swiper-slide {
      pointer-events: none; }
  .swiper-container-fade .swiper-slide-active {
    pointer-events: auto; }
    .swiper-container-fade .swiper-slide-active .swiper-slide-active {
      pointer-events: auto; }
  .swiper-container-cube {
    overflow: visible; }
    .swiper-container-cube .swiper-slide {
      pointer-events: none;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      z-index: 1;
      visibility: hidden;
      transform-origin: 0 0;
      width: 100%;
      height: 100%; }
      .swiper-container-cube .swiper-slide .swiper-slide {
        pointer-events: none; }
    .swiper-container-cube.swiper-container-rtl .swiper-slide {
      transform-origin: 100% 0; }
    .swiper-container-cube .swiper-slide-active {
      pointer-events: auto;
      pointer-events: auto;
      visibility: visible; }
      .swiper-container-cube .swiper-slide-active .swiper-slide-active {
        pointer-events: auto; }
    .swiper-container-cube .swiper-slide-next, .swiper-container-cube .swiper-slide-prev, .swiper-container-cube .swiper-slide-next + .swiper-slide {
      pointer-events: auto;
      visibility: visible; }
    .swiper-container-cube .swiper-slide-shadow-top, .swiper-container-cube .swiper-slide-shadow-bottom, .swiper-container-cube .swiper-slide-shadow-left, .swiper-container-cube .swiper-slide-shadow-right {
      z-index: 0;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden; }
    .swiper-container-cube .swiper-cube-shadow {
      position: absolute;
      left: 0;
      bottom: 0px;
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0.6;
      -webkit-filter: blur(50px);
      filter: blur(50px);
      z-index: 0; }
  .swiper-container-flip {
    overflow: visible; }
    .swiper-container-flip .swiper-slide {
      pointer-events: none;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      z-index: 1; }
      .swiper-container-flip .swiper-slide .swiper-slide {
        pointer-events: none; }
    .swiper-container-flip .swiper-slide-active {
      pointer-events: auto; }
      .swiper-container-flip .swiper-slide-active .swiper-slide-active {
        pointer-events: auto; }
    .swiper-container-flip .swiper-slide-shadow-top, .swiper-container-flip .swiper-slide-shadow-bottom, .swiper-container-flip .swiper-slide-shadow-left, .swiper-container-flip .swiper-slide-shadow-right {
      z-index: 0;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden; } }

* {
  padding: 0;
  margin: 0;
  font-family: "TT Lakes", sans-serif;
  box-sizing: border-box;
  font-size: 16px;
  color: #1B1C21;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px; }

body {
  background-color: #F8F8F8;
  max-width: 1440px;
  position: static;
  height: auto; }

*:active, *:focus {
  outline: none; }

a {
  display: inline-block;
  text-decoration: none; }

ul {
  list-style: none; }

.link-icon:hover, .link-icon:focus {
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
  cursor: pointer; }

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #DDDDDD;
  opacity: 1; }
  .swiper-pagination-bullet:hover, .swiper-pagination-bullet:active, .swiper-pagination-bullet:focus {
    background-color: #B5B6BC; }

.aside {
  transition: 0.5s ease-out;
  z-index: 2; }
  @media (max-width: 1365px) {
    .aside {
      position: fixed;
      top: 0;
      left: 0;
      width: 320px;
      height: 100%;
      overflow: auto;
      box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2), -2px 0px 4px rgba(69, 79, 126, 0.02);
      transform: translateX(-120%);
      visibility: hidden; } }
  @media (min-width: 1366px) {
    .aside {
      visibility: visible;
      position: relative;
      height: auto;
      float: left;
      width: 22.3%; } }
  .aside__container {
    background-color: white;
    padding: 18px 24px 32px;
    width: 100%; }
    @media (max-width: 1365px) {
      .aside__container {
        height: auto; } }
    @media (min-width: 1366px) {
      .aside__container {
        position: relative; } }
  .aside__header {
    margin-bottom: 46px; }
  .aside__lang-list {
    display: flex;
    justify-content: space-between;
    width: 88px; }
  .aside__lang-link:active, .aside__lang-link:hover, .aside__lang-link:focus {
    color: #7E7E82; }
  .aside__header-list {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  @media (min-width: 1366px) {
    .aside__header-item--burger {
      display: none; } }
  .aside__header-item--logo {
    flex-grow: 1; }
    @media (max-width: 1365px) {
      .aside__header-item--logo {
        margin-left: 16px; } }
    @media (min-width: 1366px) {
      .aside__header-item--logo {
        margin-left: 0; } }
  .aside__header-link {
    position: relative;
    transition-duration: 0.2s; }
  .aside__nav {
    margin-bottom: 268px; }
  .aside__nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 420px;
    position: relative;
    left: -24px; }
  .aside__nav-link {
    height: 32px;
    padding-left: 20px; }
    .aside__nav-link:hover, .aside__nav-link:focus, .aside__nav-link:active {
      color: #7E7E82;
      border-width: 4px;
      border-style: solid;
      border-image: url(./static/highlight.svg) 5;
      border-right: none; }
  .aside__contacts-list {
    display: flex;
    justify-content: space-between;
    width: 152px;
    margin-bottom: 16px; }
  .aside__contacts-link {
    display: inline-block;
    transition-duration: 0.2s; }
  .aside__contacts-email {
    display: block;
    margin-bottom: 12px; }
  .aside__contacts-phone {
    display: block;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    margin-bottom: 40px; }

.modal-feedback {
  top: 0;
  right: 0;
  width: auto;
  height: 100%;
  z-index: 3;
  visibility: hidden; }
  @media (max-width: 1365px) {
    .modal-feedback {
      width: 320px;
      overflow: auto;
      position: fixed;
      transition: 0.7s ease-out;
      transform: translateX(120%);
      box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2); } }
  @media (min-width: 1366px) {
    .modal-feedback {
      position: absolute;
      width: 440px; } }
  .modal-feedback__container {
    position: relative;
    background-color: white;
    width: 100%;
    min-height: 620px;
    height: 100%; }
    @media (max-width: 1365px) {
      .modal-feedback__container {
        padding: 24px 16px; } }
    @media (min-width: 1366px) {
      .modal-feedback__container {
        padding: 24px 32px;
        transition: 0.7s ease-out;
        transform: translateX(120%);
        box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
        border-left: 1px solid;
        border-color: #D9FFF5; } }
  .modal-feedback__title {
    margin-bottom: 24px; }
    .modal-feedback__title::after {
      content: '';
      height: 100%;
      width: 100%; }
  .modal-feedback__input {
    width: 100%;
    min-height: 48px;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    padding: 12px 16px;
    margin-bottom: 16px; }
    .modal-feedback__input[name="message"] {
      resize: none; }
  .modal-feedback__text {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 18px; }
  .modal-feedback__link {
    font-size: 14px;
    line-height: 16px;
    color: #FF3E79; }
  .modal-feedback__btn {
    position: relative;
    width: 136px; }
    .modal-feedback__btn:hover, .modal-feedback__btn:focus {
      -webkit-filter: opacity(0.7);
              filter: opacity(0.7);
      cursor: pointer; }
  @media (max-width: 1365px) {
    .modal-feedback__btn-exit {
      margin-bottom: 32px;
      position: relative; } }
  @media (min-width: 1366px) {
    .modal-feedback__btn-exit {
      position: absolute;
      float: left;
      left: -65px; } }
  .modal-feedback--message .title::after {
    content: 'Обратная связь'; }
  .modal-feedback--request-call .title::after {
    content: 'Заказать звонок'; }
  .modal-feedback--request-call .modal-feedback__input[type="text"], .modal-feedback--request-call .modal-feedback__input[type="email"], .modal-feedback--request-call .modal-feedback__input[name="message"] {
    display: none; }

.modal__btn-exit {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: #FF3E79; }
  .modal__btn-exit:hover, .modal__btn-exit:focus {
    -webkit-filter: opacity(0.7);
            filter: opacity(0.7);
    cursor: pointer; }
  .modal__btn-exit::before {
    content: "";
    display: block;
    width: 21.73px;
    height: 2.17px;
    background-color: white;
    border-radius: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg); }
  .modal__btn-exit::after {
    content: "";
    display: block;
    width: 21.73px;
    height: 2.17px;
    background-color: white;
    border-radius: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg); }

.modal--active {
  visibility: visible;
  transform: translateX(0); }
  .modal--active .modal-feedback__container {
    transform: translateX(0); }

.container {
  position: relative;
  margin: auto;
  overflow: hidden; }
  @media (max-width: 767px) {
    .container {
      min-width: 320px; } }
  @media (min-width: 768px) and (max-width: 1365px) {
    .container {
      padding: 24px; } }
  @media (max-width: 1365px) {
    .container {
      width: 100%;
      position: absolute; } }
  @media (min-width: 1366px) {
    .container {
      float: left;
      width: 77.7%;
      padding: 42px 29px 21px 34px; } }

@media (max-width: 767px) {
  .header {
    padding: 23px 8px 16.6px; } }

@media (max-width: 1365px) {
  .header__menu, .header__menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center; } }

@media (min-width: 1366px) {
  .header__menu {
    position: relative;
    height: 0; } }

@media (min-width: 768px) and (max-width: 1365px) {
  .header__menu-list {
    padding: 0 8px; } }

@media (min-width: 1366px) {
  .header__menu-list--support {
    display: flex;
    position: absolute;
    right: 0; } }

.header__menu-list--feedback {
  justify-content: flex-end;
  width: 70%; }
  @media (max-width: 767px) {
    .header__menu-list--feedback {
      display: none; } }
  @media (max-width: 1365px) {
    .header__menu-list--feedback {
      justify-content: flex-end;
      width: 70%; } }
  @media (min-width: 768px) and (max-width: 1365px) {
    .header__menu-list--feedback {
      padding-right: 12px; } }
  @media (min-width: 1366px) {
    .header__menu-list--feedback {
      display: none; } }

@media (min-width: 1366px) {
  .header__menu-list--main {
    display: none; } }

@media (max-width: 1365px) {
  .header__menu-item {
    margin: 0 8px; } }

.header__menu-item--sidebar {
  position: relative; }
  @media (min-width: 768px) and (max-width: 1365px) {
    .header__menu-item--sidebar {
      margin-right: 32px; } }
  @media (min-width: 768px) and (max-width: 1365px) {
    .header__menu-item--sidebar::after {
      content: "";
      position: absolute;
      width: 2px;
      height: 32px;
      right: -20px;
      top: 10%;
      border-radius: 1px;
      background: #EAEAEA; } }

.header__menu-item--repair {
  position: relative; }
  @media (min-width: 1366px) {
    .header__menu-item--repair {
      margin-right: 32px; } }
  @media (max-width: 1365px) {
    .header__menu-item--repair::before {
      content: "";
      position: absolute;
      width: 2px;
      height: 32px;
      left: -20px;
      top: 10%;
      border-radius: 1px;
      background: #EAEAEA; } }

@media (min-width: 1366px) {
  .header__menu-link-block {
    display: flex;
    align-items: center;
    height: 40px; } }

.header__menu-link-span {
  display: none; }
  @media (min-width: 1366px) {
    .header__menu-link-span {
      display: inline-block;
      letter-spacing: -0.2px;
      padding-right: 8px;
      vertical-align: middle; } }
  @media (min-width: 1366px) {
    .header__menu-link-span:focus, .header__menu-link-span:active, .header__menu-link-span:hover {
      transition: 0.05;
      transform: scale(1.1); } }

@media (min-width: 768px) and (max-width: 1365px) {
  .header--main {
    padding: 15px 8px;
    margin: -24px;
    margin-bottom: 0; } }

@media (max-width: 1365px) {
  .header--main {
    border-bottom: 1px solid #D9FFF5;
    background-color: white; } }

.title {
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  font-weight: bold; }
  .title::before {
    content: "";
    position: absolute;
    display: inline-block;
    height: 40px;
    width: 4px;
    left: 0;
    background-image: url(./static/highlight.svg); }

@media (max-width: 767px) {
  .main {
    min-height: 509px; } }

.main__title {
  margin: 0; }
  @media (max-width: 767px) {
    .main__title {
      padding: 24px 15px; } }
  @media (min-width: 768px) and (max-width: 1365px) {
    .main__title {
      margin: 24px 0; } }
  @media (min-width: 1366px) {
    .main__title {
      margin-bottom: 20px; } }

.main__nav {
  margin-bottom: 20px; }
  @media (min-width: 768px) and (max-width: 1365px) {
    .main__nav {
      margin: 0 -24px; } }

.nav__list {
  display: flex;
  overflow: auto;
  position: relative; }
  @media (min-width: 1366px) {
    .nav__list {
      flex-wrap: wrap; } }

.nav__item {
  height: 40px;
  display: flex; }

.nav__link {
  padding: 8px 15px;
  font-size: 16px;
  white-space: nowrap;
  font-weight: 500;
  color: #7E7E82; }
  .nav__link:hover, .nav__link:active, .nav__link:focus {
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    padding: 8px 13px;
    transition: 0.05s; }

@media (min-width: 768px) and (max-width: 1365px) {
  .section {
    padding-bottom: 32px; } }

@media (max-width: 1365px) {
  .section {
    padding-bottom: 24px; } }

@media (min-width: 1366px) {
  .section {
    padding-bottom: 50px; } }

.section__title {
  text-transform: uppercase;
  font-weight: normal;
  color: #7E7E82;
  border-top: 1px solid #D9FFF5;
  background-image: linear-gradient(to right, #F8F8F8, #FFFFFF); }
  @media (min-width: 768px) {
    .section__title {
      padding: 16px 24px;
      margin: 0 -24px; } }
  @media (max-width: 767px) {
    .section__title {
      padding: 16px; } }
  @media (min-width: 1366px) {
    .section__title {
      margin-right: -29px;
      margin-left: -34px;
      padding: 16px 32px; } }

.section__wrapper {
  padding-bottom: 6px; }
  @media (min-width: 768px) {
    .section__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      height: 184px;
      overflow: hidden;
      margin: 0 -12px; } }
  @media (min-width: 1366px) {
    .section__wrapper {
      margin-top: 24px; } }
  .section__wrapper[data-section='open'] {
    height: 100%; }

.section__content {
  min-height: 116px;
  padding: 16px;
  padding-bottom: 24px; }
  @media (min-width: 768px) {
    .section__content {
      padding: 0; } }
  @media (min-width: 1366px) {
    .section__content {
      padding: 0; } }

@media (min-width: 768px) {
  .section__slide {
    width: 224px;
    margin: 16px 12px 0; } }

@media (max-width: 767px) {
  .section__slide {
    width: 240px; } }

@media (min-width: 1366px) {
  .section__slide {
    width: 240px; } }

.section__text {
  font-size: 14px;
  font-weight: normal; }

.section__link {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 18px;
  background: #fff;
  padding: 16px;
  border: 1px solid #EAEAEA;
  border-radius: 6px; }
  @media (min-width: 768px) {
    .section__link:hover, .section__link:focus {
      transform: scale(1.05); } }
  .section__link::after {
    content: "";
    display: block;
    position: absolute;
    right: 16px;
    width: 40px;
    height: 40px;
    border: 2px solid #FF3E79;
    border-radius: 50%; }
  .section__link::before {
    content: "";
    display: inline-block;
    position: absolute;
    right: 35px;
    width: 7px;
    height: 7px;
    border-top: 3px solid #FF3E79;
    border-right: 3px solid #FF3E79;
    border-radius: 2px;
    transform: rotate(45deg); }

@media (max-width: 767px) {
  .section__pagination {
    height: 12px; } }

@media (min-width: 768px) {
  .section__button {
    margin-top: 24px; } }

@media (max-width: 767px) {
  .section__button, .section__input {
    display: none; } }

.section__btn-read-more {
  height: 24px;
  position: relative;
  left: 30px;
  border-width: 0;
  background-color: #F8F8F8;
  cursor: pointer; }
  @media (min-width: 768px) {
    .section__btn-read-more {
      display: inline-block; } }
  @media (max-width: 767px) {
    .section__btn-read-more {
      display: none; } }
  .section__btn-read-more::after {
    content: "Показать все";
    display: inline-block;
    width: 100%;
    height: 100%; }
  .section__btn-read-more.section-information__button::after {
    content: "Читать далее"; }
  .section__btn-read-more::before {
    content: " ";
    height: 18px;
    width: 17px;
    position: absolute;
    z-index: -1;
    left: -25px;
    display: inline-block;
    background: url(./static/expand.svg) no-repeat 50%; }
  .section__btn-read-more[data-section='open']::after {
    content: "Cкрыть"; }
  .section__btn-read-more[data-section='open']::before {
    transform: rotate(180deg); }
  .section__btn-read-more:focus, .section__btn-read-more:active, .section__btn-read-more:hover {
    transition: 0.05s;
    transform: scale(1.1); }

.section__btn-send-order {
  background: #FF3E79;
  border: none;
  border-radius: 16px;
  height: 32px;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.15px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: left;
  padding: 5px 18px;
  float: right;
  font-weight: bold;
  cursor: pointer; }
  @media (max-width: 767px) {
    .section__btn-send-order {
      position: absolute;
      width: 119px;
      bottom: 16px;
      right: 16px; }
      .section__btn-send-order::before {
        right: 13px; } }
  @media (min-width: 768px) {
    .section__btn-send-order {
      position: relative;
      width: 136px; }
      .section__btn-send-order::before {
        right: 18px; } }
  .section__btn-send-order:hover, .section__btn-send-order:focus {
    -webkit-filter: opacity(0.7);
            filter: opacity(0.7);
    cursor: pointer; }
  .section__btn-send-order::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 11px;
    width: 6px;
    height: 6px;
    border-top: 2.5px solid white;
    border-right: 2.5px solid white;
    border-radius: 2.5px;
    transform: rotate(45deg); }

.section-information {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 767px) {
    .section-information {
      flex-direction: column; } }
  @media (min-width: 768px) and (max-width: 1365px) {
    .section-information {
      padding: 24px 0; } }
  @media (max-width: 767px) {
    .section-information__info {
      padding: 16px;
      padding-top: 0; } }
  @media (min-width: 1366px) {
    .section-information__info {
      width: calc(100% - 568px); } }
  @media (min-width: 768px) and (max-width: 1365px) {
    .section-information__info {
      width: 40.8vw; } }
  .section-information__text {
    font-size: 14px;
    font-weight: normal;
    height: 95px;
    overflow: hidden; }
    @media (min-width: 768px) {
      .section-information__text {
        height: 190px; } }
    @media (min-width: 1366px) {
      .section-information__text {
        height: 215px; } }
    .section-information__text[data-section='open'] {
      height: 90%; }
  .section-information__button {
    display: inline-block;
    margin-top: 14px; }
  .section-information__image-pic {
    width: 100%;
    margin: 0 auto; }
    @media (min-width: 768px) and (max-width: 1365px) {
      .section-information__image-pic {
        border-radius: 6px;
        width: 47vw; } }
    @media (min-width: 1366px) {
      .section-information__image-pic {
        border-radius: 6px; } }
  @media (max-width: 767px) {
    .section-information__hidden {
      height: 0;
      overflow: hidden; } }
  @media (min-width: 768px) and (max-width: 1365px) {
    .section-information__hidden {
      height: 54px;
      overflow: hidden; } }

.section-brands__link {
  height: 72px; }

.section-brands__button {
  margin-top: 14px; }

.section-devices__slide {
  width: 240px;
  height: 160px; }

.section-devices__link {
  width: 240px;
  height: 160px;
  align-items: start; }
  .section-devices__link::before {
    bottom: 33px; }
  .section-devices__link::after {
    bottom: 16px; }

.section-devices__button {
  margin-top: 14px; }

.section-services__title {
  display: none; }
  @media (min-width: 768px) {
    .section-services__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: inherit;
      margin: 31px 0 16px;
      padding: 0 16px;
      border: none; } }

.section-services__content {
  margin-bottom: 16px; }

@media (min-width: 768px) {
  .section-services__wrapper {
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    background-color: white;
    padding: 0 16px;
    margin: 0;
    margin-bottom: 32px;
    border-radius: 6px; } }

.section-services__slide {
  display: flex;
  margin: 0; }
  @media (max-width: 767px) {
    .section-services__slide {
      width: 260px;
      height: 200px;
      flex-direction: column;
      flex-wrap: wrap;
      background-color: white;
      padding: 16px;
      border-radius: 6px; } }
  @media (min-width: 768px) {
    .section-services__slide {
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 64px;
      border-bottom: 1px solid #EAEAEA; } }

@media (max-width: 767px) {
  .section-services__service, .section-services__price, .section-services__time {
    display: inline-block;
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 18px; } }

.section-services__service--title, .section-services__price--title, .section-services__time--title {
  color: #7E7E82; }

@media (min-width: 768px) {
  .section-services__service {
    display: block;
    width: 44.5%; } }

@media (min-width: 768px) {
  .section-services__price {
    display: block;
    width: 20.5%; } }

@media (min-width: 768px) {
  .section-services__time {
    display: block;
    width: 18.18%; } }

@media (min-width: 768px) {
  .section-services__time--title {
    width: 35%; } }

.section-services__link {
  float: right; }

.section-services__commercial-proposal-text, .section-services__commercial-proposal-link {
  font-size: 14px; }
  @media (max-width: 767px) {
    .section-services__commercial-proposal-text, .section-services__commercial-proposal-link {
      margin: 0 16px;
      padding-right: 40px; } }

.section-services__commercial-proposal-text {
  max-width: 421px;
  font-weight: 400;
  margin-bottom: 16px; }

.section-services__commercial-proposal-link {
  position: relative; }
  .section-services__commercial-proposal-link:hover {
    transition: 0.05;
    transform: scale(1.1); }
  .section-services__commercial-proposal-link::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 5px;
    height: 5px;
    right: 183px;
    top: 32px;
    border-top: 3px solid #FF3E79;
    border-right: 3px solid #FF3E79;
    border-radius: 2px;
    transform: rotate(45deg); }
    @media (min-width: 327px) {
      .section-services__commercial-proposal-link::before {
        right: 25px;
        top: 8px; } }
    @media (min-width: 768px) {
      .section-services__commercial-proposal-link::before {
        right: -15px;
        top: 8px; } }

/* for JS on mobile */
.service-title {
  display: block;
  color: #7E7E82;
  font-size: 14px;
  line-height: 14px; }

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 85px;
  opacity: 0.72;
  font-size: 14px;
  border-top: 1px solid #D9FFF5; }
  @media (max-width: 767px) {
    .footer {
      flex-direction: column;
      padding: 16px;
      padding-bottom: 0; } }
  @media (min-width: 768px) {
    .footer {
      padding-top: 32px; } }
  @media (max-width: 767px) {
    .footer__block {
      text-align: center;
      margin-bottom: 16px; } }
  @media (min-width: 768px) {
    .footer__block {
      width: 30%; } }
  .footer__block.privacy-policy {
    height: 30px; }
    .footer__block.privacy-policy:hover {
      transition: 0.05s;
      transform: scale(1.1);
      cursor: pointer; }
  @media (min-width: 768px) {
    .footer__block:last-child {
      text-align: right; } }

.layout--active {
  min-width: 100%;
  max-width: 1440px;
  min-height: 100%;
  position: fixed;
  background-color: white;
  opacity: 0.9;
  top: 0;
  z-index: 1; }
  @media (min-width: 728px) {
    .layout--active {
      margin-left: -24px; } }
  @media (min-width: 1366px) {
    .layout--active {
      margin-left: -364px;
      z-index: 2; } }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0 auto; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* h1 {
  font-size: 2em;
  margin: 0.67em 0;
} */
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }


/*# sourceMappingURL=style.css.map*/