.container {
    position: relative;
    margin: auto;
    overflow: hidden;

    @media (max-width: 767px) {
        min-width: 320px;
    }

    @media (min-width: 768px) and (max-width: 1365px) {
        padding: 24px;
    }

    @media (max-width: 1365px) {
        width: 100%;
    }

    @media (min-width: 1366px) {
        width: 77.7%;
        padding: 42px 29px 21px 34px;
    }
  }