.layout {

    &--active {
        min-width: 100%;
        max-width: 1440px;
        min-height: 100%;
        position: fixed;
        background-color: white;
        opacity: 0.9;
        top: 0;
        z-index: 1;

        @media (min-width: 728px) {
            margin-left: -24px; 
        }

        @media (min-width: 1366px) {
            margin-left: -364px; 
            z-index: 2;
        }
    }
}