.section-information {
    display: flex;
    justify-content: space-between;

    @media (max-width: 767px) {
        flex-direction: column;
    }

    @media (min-width: 768px) and (max-width: 1365px) {
        padding: 24px 0;
    }

    &__info {

        @media (max-width: 767px) {
            padding: 16px;
            padding-top: 0;
        }
		  
      	@media (min-width: 1366px) {
            width: calc(100% - 568px);
        }
        
        @media (min-width: 768px) and (max-width: 1365px) {
            width: 40.8vw;
        }
	}

    &__text {
        font-size: 14px;
        font-weight: normal;
        height: 95px;
        overflow: hidden;

        @media (min-width: 768px) {
            height: 190px;
        }

        @media (min-width: 1366px) {
            height: 215px;
        }

        &[data-section='open'] {
            height: 90%;
        }
    }

    &__button {
        display: inline-block;
        margin-top: 14px;
    }

    &__image-pic {
        width: 100%;
        margin: 0 auto;

        @media (min-width: 768px) and (max-width: 1365px) {
            border-radius: 6px;
            width: 47vw;
        }
        
        @media (min-width: 1366px) {
			border-radius: 6px;
        }
    }

    &__hidden {

        @media (max-width: 767px) {
            height: 0;
            overflow: hidden;
        }

        @media (min-width: 768px) and (max-width: 1365px) {
            height: 54px;
            overflow: hidden;
        }
    }
}