

* {
	padding: 0;
	margin: 0;
	font-family: "TT Lakes", sans-serif;
	box-sizing: border-box;
	font-size: 16px;
	color: #1B1C21;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: -0.2px;
}


body {
	background-color: #F8F8F8;
	max-width: 1440px;
	display: flex;
	flex-direction: row-reverse;

	&.hidden {
		overflow: hidden;
	}
}

* {

	&:active, &:focus {
		outline: none;
	}
}

a {
	display: inline-block;
	text-decoration: none;
}

ul {
	list-style: none;
}

.link-icon {

	&:hover, &:focus {
		filter: opacity(0.7);
		cursor: pointer;
	}
}


.swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background-color: #DDDDDD;
	opacity: 1;

	&:hover, &:active, &:focus {
		background-color: #B5B6BC;
	}
}

.btn-send-order {
	background: $btn-color;
	border: none;
	border-radius: 16px;
	height: 32px;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: -0.15px;
	text-transform: uppercase;
	color: #FFFFFF;
	text-align: left;
	padding: 5px 18px;
	float: right;
	font-weight: bold;
	cursor: pointer;

	@media (max-width: 767px) {
		position: absolute;
		width: 119px;
		bottom: 16px;
		right: 16px;

		&::before {
			right: 13px;
		}
	}

	@media (min-width: 768px) {
		position: relative;
		width: 136px;

		&::before {
			right: 18px;
		}			
	}

	&:hover, &:focus {
		filter: opacity(0.7);
		cursor: pointer;
	}

	&::before {
		content: "";
		display: inline-block;
		position: absolute;
		top: 11px;
		width: 6px;
		height: 6px;
		border-top: 2.5px solid white;
		border-right: 2.5px solid white;
		border-radius: 2.5px;
		transform: rotate(45deg);
	}
}